  .navbar {
    display: flex;
    /* ... your existing styles ... */
  }
  
  /* Hide the checkbox */
  #menu-toggle {
    display: none;
  }
  
  /* Hamburger icon styles */
  .menu-button-container {
    display: none; /* Hidden by default */
  }
  
  .menu-button,
  .menu-button::before,
  .menu-button::after {
    background-color: #fff;
    height: 4px;
    width: 30px;
    position: relative;
    border-radius: 2px;
  }
  
  .menu-button::before,
  .menu-button::after {
    content: '';
    position: absolute;
    left: 0;
  }
  
  .menu-button::before {
    top: -8px;
  }
  
  .menu-button::after {
    top: 8px;
  }
  
  /* Responsive styles */
  @media (max-width: 995px) {
    /* Hide the menu and show hamburger icon */
    .navbar {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #333;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      z-index: 1001;
      justify-content: center;
      align-items: center;
    }
  
    .menu-button-container {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      z-index: 1002;
    }
  
    /* Show the menu when checkbox is checked */
    #menu-toggle:checked + .menu-button-container + .navbar {
      display: flex;
    }
  
    .navbar a {
      padding: 2rem;
      color: white;
      border-bottom: 1px solid #444;
      font-size: 2.5rem;
      text-align: center;
      width: 100%;
    }

    
  }
  