.grid-container{
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 100px 1fr 1fr 100px;
    gap: 10px;
    height: 100vh;
}
.grid-item {
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px; 
    padding: 10px;
    color: white;
    font-weight: bold;
}

.header { 
    grid-column: 1 / span 3;
    background-color: magenta;
}
.sidebar {
    grid-column: 1;
    grid-row: 2 / 4;
}
.content1 {
    grid-column: 2 / span 2; /* Spans across columns 2 and 3 */
    grid-row: 2; /* In the second row */
    background-color: lightblue;
}

/* Content-2 is in the third row, second column */
.content2 {
    grid-column: 2;
    grid-row: 3; /* In the third row */
    background-color: deepskyblue;
}

/* Content-3 is in the third row, third column */
.content3 {
    grid-column: 3;
    grid-row: 3; /* In the third row */
    background-color: dodgerblue;
}

/* Footer spans all columns in the last row */
.footer {
    grid-column: 1 / span 3;
    grid-row: 4; /* In the fourth row */
    background-color: purple;
}