.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px 200px 100px ;
    gap: 10px;
}
.grid-item {
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-radius: 10px;
    padding-top: 10px
}
.main {
    grid-column: 1 / span 4;
}
.footer {
    grid-column: 1 / span 4;
}