.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px 800px 100px;
    gap: 10px;
}


.grid-item {
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    padding-top: 10px;
}
.navbar {
    grid-column: 1 / span 4;
    grid-row: 1;
    align-items: center;
    
}
.footer {
    grid-column: 1 / span 4;
    grid-row: 3;
}
